body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}
header {  
    color: #fff;
    font-size: 18px;
    background: no-repeat center url(../image/Rectangle\ 1.png),
    no-repeat center url(../image/stephen-leonardi-Al9Cl-b7EFU-unsplash\ 1.png);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.container-header {
    padding-top: 40px;
    padding-bottom: 30px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
nav {
    position: relative;
    left: -115px;
}
.navigation li{
    display: inline-block;
    margin-right: 60px;
}
ul li {
    list-style-type: none;
}
a li {
    text-decoration: none;
    color: #fff;
}
a:hover {
    opacity: 0.7;
}
.phoneNumber span{
    display: block;
    text-align: end;
}
.phoneNumber span:first-child{
    font-size: 24px;
    font-weight: bold;
}
.search-result-text {
    font-size: 38px;
    font-weight: 400;
}
main {
    background-color: #fff;
}
.filter {
    padding: 40px 0;
}
.filter span {
    margin-right: 40px;
}
.filter span:first-child {
    font-weight: bold;
}
.filter img {
    position: relative;
    top: 3px;
    left: 10px;
}
.filter-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-cat {
    background-color: #F3F3F3;
    margin-bottom: 20px;
    
}
.item-foto {
    position: relative;
}

.sale {
    position: absolute;
    top: 35px;
    left: 35px;
}
.like {
    position: absolute;
    top: 35px;
    right: 35px;
}
.item-info {
    max-width: 82%;
    margin: 28px auto;
    line-height: 15px;
}
.item-info_name {
    font-size: 24px;
    font-weight: bold;
}
.item-info_price {
    font-size: 24px;
    font-weight: bold;
}
.item-info_details {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin: 25px auto;
}
.item-info_details span {
    font-size: 16px;
    font-weight: bold;
    
}
.item-info_details::before {
    content: '';
    background-color: #6EBBD3;
    font-size: 24px;
    width: 4px;
    margin-right: 20px;
}
.buy {
    text-align: center;
    align-content: center;
}
.buy a {
    display: block;
    color: #fff;
    padding: 22px 0;
    text-decoration: none;
    background-color: #6EBBD3;
    border-radius: 0 0 10px 10px;
}
.more-result {
    display: flex;
    justify-content: center;
    position: relative;
}
.more {
    text-align: center;
    align-content: center;
    width: 32%;
    margin: 65px;
}
.more a{
    display: block;
    padding: 22px 0;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
}
.arrow-up {
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: #6EBBD3;
    text-align: center;
}
.arrow-up img {
    padding: 20px;
    padding-bottom: 15px;
}
.footer {
    background-color: #fff;
}
footer .container {
    background-color: #1F2021;
}
.footer-wrap {
    display: flex;
    justify-content: space-around;
    color:#FFF;
    padding-top: 80px;
    padding-bottom: 55px;
}
.footer-wrap h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
.footer-wrap p {
    font-size: 28px;
    max-width: 400px;
    line-height: 25px;
}
.footer-form {
    width: 45%;
}
.subscribe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.subscribe-button {
    flex-basis: 43%;
    border-radius: 10px;
    border: none;
    background: #6EBBD3;
    color: #fff;
}
.subscribe-button:hover {
    opacity: 0.7;
}
#email {
    padding: 25px;
    flex-basis: 45%;
    border-radius: 10px;
}
.sub-text {
    font-size: 14px;
}
.sub-news {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.sub-news+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.sub-news+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.sub-news:checked+label::before {
    border-color: #6EBBD3;
    background-color: #6EBBD3;
    background-image: url("../image/check-mark\ 1.png");
  }

.sub-news:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.sub-news:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.sub-news:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.sub-news:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
.sub-news:disabled+label::before {
    background-color: #e9ecef;
}
@media (max-width: 1220px) {
    nav {
        left: 0;
    }
    .header {
        justify-content: space-around;
    }
    .search-result-text {
        margin-left: 20px;
    }
    .item-cat {
        flex-basis: 33%;
        margin: 10px 0;
    }
    .filter-result {
        margin: 10px;
    }
    .item-avatar {
        width: 100%;
    }
    .filter {
        margin-left: 20px;
    }
}
@media (max-width: 1024px) {
    
    .phoneNumber span:first-child{
        font-size: 18px;
        font-weight: 400;
    }
    .like {
        top: 15px;
        right: 15px;
    }
    .sale {
        top: 15px;
        left: 15px;
    }
}
@media (max-width: 960px) {
    
    .navigation li {
        margin-right: 10px;
    }
    .item-info_details::before {
        display: none;
    }
}
@media (max-width: 868px) {
    .item-info_details {
        flex-direction: column;
    }
    .footer-wrap {
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 45px;
    }
}
@media (max-width: 768px) {
    
    .search-result-text {
        font-size: 24px;
    }
    .item-cat {
        flex-basis: 49%;
    }
    .item-info_details {
        flex-direction: row;
    }
    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }
    .footer-text {
        text-align: center;
    }
    .footer-form {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .header {
        align-items: center;
        flex-direction: column;
    }
    .logo {
        display: none;
    }
    nav ul {
        padding-left: 0;
    }
    .phoneNumber {
        align-self: stretch;
        margin-right: 10px;
    }
    .item-info_details {
        flex-direction: column;
    }
    .more {
        margin: 35px;
    }
    .subscribe {
        flex-direction: column;
    }
    .subscribe-button {
        margin-top: 10px;
        padding: 10px;
    }
    #email {
        padding: 15px;
    }
}
@media screen and (max-width: 504px) {
    .item-cat {
        flex-basis: 95%;
        margin: 10px auto;
    }
    .item-info_details {
        flex-direction: row;
    }
    
}
@media screen and (max-width: 480px) {
    .item-info_details {
        flex-direction: column;
    }
    .filter {
        display: flex;
        flex-direction: column;
    }
    
}